<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
        crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <script th:inline="javascript">
    function deleteCrewMember(passNumber) {
      const answer = confirm("Do you want to delete crew member?")

      if (!answer) {
        return
      }

      $.ajax({
        url: '/crew/' + passNumber,
        type: 'DELETE'
      }).done((data) => {
        window.location.reload()
      })
    }
  </script>

  <title>Crew members</title>
</head>

<body>
  <header th:replace="~{/navbar :: navbar}"></header>

  <h1 class="text-center mt-5">Crew members</h1>

  <div class="container ">
    <div class="row create-member-btn w-25 pb-1">
      <a th:href="@{/crew/new}" class="btn btn-success">
        Create member
      </a>
    </div>

    <div class="row justify-content-center">
      <table class="table table-hover table-info table-striped">
        <thead class="table-dark">
          <tr>
            <th>Pass number</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Position</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="member : ${crew}">
            <td class="w-25">
              <a th:text="${member.passNumber}"
                 th:href="@{/crew/{pass-number}(pass-number=${member.passNumber})}">
                passNumber
              </a>
            </td>
            <td th:text="${member.name}">name</td>
            <td th:text="${member.surname}">surname</td>
            <td th:text="${member.position}">position</td>
            <td>
              <a th:href="@{/crew/edit/{pass-number}(pass-number=${member.passNumber})}"
                 class="btn btn-primary">
                Edit
              </a>

              <button th:pass-num="${member.passNumber}"
                      th:onclick="deleteCrewMember(this.getAttribute('pass-num'))"
                      class="btn btn-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav>
      <ul class="pagination">
        <li class="page-item">
          <a th:class="'page-link ' + ${currentPageNumber == 1 ? 'disabled' : ''}"
             th:href="@{/crew(page=${currentPageNumber - 1})}">Previous</a>
        </li>

        <li class="page-item" th:each="page : ${pageNumbers}">
          <a th:class="'page-link ' + ${page == currentPageNumber ? 'active' : ''}"
             th:href="@{/crew(page=${page})}" th:text="${page}"></a>
        </li>

        <li class="page-item">
          <a th:class="'page-link ' + ${currentPageNumber == crew.getTotalPages()
                       || crew.getTotalPages() == 0 ? 'disabled' : ''}"
             th:href="@{/crew(page=${currentPageNumber + 1})}">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</body>
</html>